html,
body,
#root,
.App,
.expand-height {
  height: 100%;
}

.bg-gradient {
  background-color: #86337A;
  background-image: linear-gradient(#27273E, #86337A);
  color: #fff;
}

.column.flex-row,
.flex-row {
  display: flex;
}

.flex-row.is-center {
  justify-content: center;
  align-items: center;
}

.flex-item {
  flex: 1;
}

.question,
.answer-item {
  background-color: #fff;
  border-radius: 3px;
  color: #333;

  font-weight: bold;
  padding: 10px;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.hide {
  display: none;
}
